<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 350px;">

    <h3 class="text-center mb-4">Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">

        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
          <div class="text-danger">
            Valid email is required
          </div>
        }
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <div class="text-danger">
            Password is required
          </div>
        }
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>

  </div>
</div>