<div class="sidebar">

  <h2>MENU</h2>

  <ul>
    @for (item of menuItems; track item.route) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="active">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </a>
      </li>
      <li class="nav-item">

    <a
        class="nav-link"
        routerLink="/admin/premium-schedule"
        routerLinkActive="active">

        <i class="bi bi-calendar-check"></i>

        <span>

            Premium Scheduler

        </span>

    </a>

</li>
    }
  </ul>
  <li class="nav-item">

    <a
        routerLink="/admin/payment"
        routerLinkActive="active"
        class="nav-link">

        <i class="bi bi-credit-card-2-front"></i>

        <span>

            Payment Management

        </span>

    </a>

</li>

</div>